.header {
	position: relative;
	padding-top: 40px;

	background-image: url('./../img/header/header-bg.jpg');
	background-size: cover;
	background-position: center;

	height: 100vh;

	color: var(--header-text-color);

	@include tablet() {
		background-position: center;
	}

	@include mobile() {
		padding-top: 20px;
		padding-bottom: 240px;
		background-position: center;
		aspect-ratio: unset;
	}
}

.header__nav {
	margin-bottom: 10%;
}

.header__content {
	display: flex;
	justify-content: flex-start;
	color: var(--text-color);

	p {
		max-width: 606px;
		color: var(--text-muted);
		font-size: clamp(16px, 0.857rem + 0.71vw, 24px);
		line-height: 160%;
		text-wrap: balance;
	}

	@include mobile-xl() {
		padding-top: 50px;
	}
}

.header__title {
	margin-bottom: 14px;

	font-weight: 700;
	font-size: clamp(28px, 0.821rem + 4.64vw, 80px);

	text-wrap: balance;
	line-height: 130%;
	letter-spacing: -0.8px;
	text-transform: capitalize;
}

.header__search {
	display: inline-block;
	margin: 45px auto 0;

	@include mobile-xl() {
		display: none;
	}
}

.inf-content__header{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 20%;
}